DEBUG=False
SECRET_KEY=your_secret_key_here
ALLOWED_HOSTS=api.rhoafrica.com,localhost

DATABASE_URL=postgresql://db_user:db_password@db_host:db_port/db_name

BTC_REFERRAL_REWARD=0.00000000001
FRONTEND_URL=https://your-frontend-domain.com

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=your_email_host
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=your_email_host_user
EMAIL_HOST_PASSWORD=your_email_host_password
DEFAULT_FROM_EMAIL=no-reply@btc.local
